.hapa{
 background-color: rgb(42, 165, 79);
 border-radius: 5px;
}
#boomz{
    flex-wrap: wrap;
}
a:hover { 
    background-color: #ffbf00 ;
    border-radius: 10px;
    color:black;
    font-weight: bolder;

  }
  html,
  body,
  header,
  .carousel {
    height: 100%;
  }

  @media (min-width: 800px) and (max-width: 980px) {
          .navbar:not(.top-nav-collapse) {
              background: #ffbf00!important;
          }
      }

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

.soft-engine{
  font-size: 40px;
  font-weight:bolder;
  color: #ffbf00;
}
.soft-enginez{
  font-size: 40px;
  color: #28a745;
  font-weight: 900;
}
body{
  font-family: 'Merienda', cursive;
}
.futa{
  background-color:black;
}
#mine{
 background-color: #28a745;
 color: gold;
}
lugaga{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  

}
lugaga p img{
  text-align: center;
}

#my-intro p{
  text-align: center;
}
.fa-facebook-f{
  color: #3b5998;
}
.fa-twitter{
  color: #00acee;
}
.fa-github{
  color: #1C2331;
}
#my-intro h2{
  text-align:center;
  font-weight:bolder;
}
#ufc2>div>img
{
  height:200px;
  width:200px;
  border-radius:15px;
  border:3px solid gold;
}
#ufc1>div>img
{
  height:200px;
  width:200px;
  border-radius:50%;
  border:3px solid #28a745;
}
h3{
  text-align: center;
}
.form-yangu{
  margin-left: 20px;
  margin-right: 20px;
  
}
.button-yangu input{
  background-color: #28a745;
  color:gold;
  font-weight: bolder;
}
.button-yangu input:hover{
  background-color: #ffbf00;
  color: #28a745;
  font-weight: bolder;
}